//  Verticla Padding Between Section
//-------------------------------------------------------
$padding-vertical: 100px;
$padding-vertical-sm: 50px;
$padding-vertical-xs: 25px;


$space: 10px;

//  Transition
//-------------------------------------------------------
$tt: 150ms ease-in-out; // tramsition time / type
